<form class="form-example" [formGroup]="formGroup">
  <div nxLayout="grid">

    <div nxRow class="docs-grid-colored-row">
      <div nxCol="6" class="docs-grid-colored-col border">
        <span class="form-title">Request Form</span>
        <div nxRow class="docs-grid-colored-row">
          <div nxCol="2" class="docs-grid-colored-col">
            <h1>Days:</h1>
            
          </div>
          <div nxCol="2" class="docs-grid-colored-col">
              <nx-formfield>
                <nx-dropdown [(nxValue)]="defaultDropdownValue">
                  <nx-dropdown-item *ngFor="let e of [].constructor(30); let i = index" nxValue="{{i + 1}}"></nx-dropdown-item>
                </nx-dropdown>
                <nx-error nxFormfieldError>
                  Please select an option.
                </nx-error>
              </nx-formfield>
          </div>
        </div>
        
        <div nxRow>
          <div nxCol="4">
            <nx-formfield nxLabel="From Date" nxFloatLabel="always">
              <input nxDatefield nxInput [nxMin]="tomorrow" (dateChange)="showHalfDay('no')" [nxDatepicker]="fromDate" nxDisplayFormat="DD/MM/YYYY" [nxParseFormat]="['DD/MM/YYYY']" [(ngModel)]="currentDateFrom" formControlName="fromDate" />
              <nx-datepicker-toggle [for]="fromDate" nxFormfieldSuffix></nx-datepicker-toggle>
              <nx-datepicker #fromDate></nx-datepicker>
              <span nxFormfieldHint>
                  dd/mm/yyyy
              </span>
            </nx-formfield>
          </div>
          <div nxCol="1">
            <nx-circle-toggle formControlName="halfDayFromToggle" (click)="showHalfDay('from')" checked='false' icon='plus' label='Add half Day' value='A'>
            </nx-circle-toggle>
          </div>
          <div nxCol="7" *ngIf="checkedHalfDayFrom">
            <nx-circle-toggle-group formControlName="disabledFrom">
              <nx-circle-toggle *ngFor="let item of disabledFrom" [value]="item.value" [circleText]="item.circleText" [checked]="item.selected">
              </nx-circle-toggle>
            </nx-circle-toggle-group>
          </div>
          <div nxCol="7" *ngIf="checkedHalfDayFromDisabled">
            <nx-circle-toggle-group formControlName="enabledFrom">
              <nx-circle-toggle *ngFor="let item of enabledFrom" [value]="item.value" [circleText]="item.circleText" [checked]="item.selected">
              </nx-circle-toggle>
            </nx-circle-toggle-group>

          </div>
        </div>
        
        <div nxRow>
          <div nxCol="4">
            <nx-formfield nxLabel="To Date" nxFloatLabel="always">
              <input nxDatefield nxInput [nxMin]="currentDateFrom" (dateChange)="showHalfDay('no')" [nxDatepicker]="toDate" nxDisplayFormat="DD/MM/YYYY" [nxParseFormat]="['DD/MM/YYYY']" [(ngModel)]="currentDateTo" formControlName="toDate" />
              <nx-datepicker-toggle [for]="toDate" nxFormfieldSuffix></nx-datepicker-toggle>
              <nx-datepicker #toDate></nx-datepicker>
              <span nxFormfieldHint>
                  dd/mm/yyyy
              </span>
            </nx-formfield>
          </div>
          <div nxCol="1" *ngIf="!sameDay">
            <nx-circle-toggle formControlName="halfDayToToggle" (click)="showHalfDay('to')" checked='false' icon='plus' label='Add half Day' value='A'>
            </nx-circle-toggle>
          </div>
          <div nxCol="7" *ngIf="checkedHalfDayTo">
            <nx-circle-toggle-group formControlName="disabledTo">
              <nx-circle-toggle *ngFor="let item of disabledTo" [value]="item.value" [circleText]="item.circleText" [checked]="item.selected">
              </nx-circle-toggle>
            </nx-circle-toggle-group>
          </div>
        </div>
        
        <div nxRow>
          <div nxCol="12,6">
            <button nxButton type="submit">Submit</button>
          </div>
        </div>

      </div>
      <div nxCol="6" class="docs-grid-colored-col">

      </div>
    </div>

  </div>

</form>

<h2 nxHeadline="subsection-medium" class="nx-font-weight-bold">Holiday Requests</h2>

<nx-tab-group [(selectedIndex)]="currentIndex">
  <nx-tab>
    <ng-template nxTabLabel>
      <nx-icon name="plus" size="s" aria-hidden="true"></nx-icon>
      My Holidays
    </ng-template>
    <p class="tab__content">Tab content 1 in a paragraph tag.</p>
  </nx-tab>
</nx-tab-group>


<nx-swipebar label="Scroll to see more">
  <table nxTable>
    <thead>
      <tr nxTableRow>
        <th nxHeaderCell>
          Id
        </th>
        <th nxHeaderCell>
          Request Date
        </th>
        <th nxHeaderCell>
          From Date
        </th>
        <th nxHeaderCell>
          To Date
        </th>
        <th nxHeaderCell>
          Status
        </th>
        <th nxHeaderCell>
          Date Approved
        </th>
        <th nxHeaderCell>
          Days
        </th>
        <th nxHeaderCell>
          Approve
        </th>
        <th nxHeaderCell>
          
        </th>
      </tr>
    </thead>
    <tbody>
      <tr nxTableRow *ngFor="let item of tableElements">
        <td nxTableCell>{{item.id}}</td>
        <td nxTableCell>{{item.requestDate}}</td>
        <td nxTableCell>{{item.fromDate}}</td>
        <td nxTableCell>{{item.toDate}}</td>
        <td nxTableCell><nx-badge [type]="item.status">{{item.statusText}}</nx-badge></td>
        <td nxTableCell>{{item.dateApproved}}</td>
        <td nxTableCell>{{item.days}}</td>
        <td nxTableCell><nx-link><a routerLink='#'>{{item.approve}}</a></nx-link></td>
        <td nxTableCell>
          <button nxPlainButton (click)="true" aria-label="Remove row">
            <nx-icon name="trash-o"></nx-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</nx-swipebar>


    