.border {
    border: 5px solid black;
    padding: 3%;
}

.form-title {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: #0f2a3d;;
}

:host ::ng-deep nx-tab-header {
    justify-content: flex-start!important;
}
  
