/* You can add global styles to this file, and also import other style files */

@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');

.text-left {
  text-align: left;
}
  
.text-right {
  text-align: right;
}
  
.text-center {
  text-align: center;
}

.bi {
  font-size: 2rem;
}