<h1 class="text-center text-secondary">Welcome to STRIVE</h1>


<div id="login-container" class="border border-primary bg-secondary text-white">
  <h3>Login</h3>


  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="email">Username / Email: </label>
    <input id="email" type="text" formControlName="email">
  
    <label for="password">password: </label>
    <input id="password" type="text" formControlName="password">

    <button type="submit" id="submit" class="btn-primary" [disabled]="!profileForm.valid">Submit</button>
  
  </form>

</div>

<p>Form Status: {{ profileForm.status }}</p>