<h1 class="text-center text-secondary">Welcome to STRIVE</h1>

<div id="primary-container">

  <div id="login-container" class="border border-dark border-5 text-black">
    <h3 id="login-title">Login</h3>
  
  
    

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
      <div class="container">
        <div class="row">
          <div class="col-4">

          </div>
          <div class=" col-8 alert alert-danger" id="warningEmail" role="alert" *ngIf="this.profileForm['controls']
            .email.hasError('alreadyExist') && this.profileForm['controls'].email.touched">
            *this email already exists in our database
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="email"><i class="bi bi-person-check"></i>Username / Email: </label> 
          </div>
         
          <div class="col-8">
            <input id="email" type="text" formControlName="email">
          </div>
  
        </div>
  
        <div class="row">
          <div class="col-4">
            <label for="password"><i class="bi bi-key"></i>password: </label>
          </div>
         
          <div class="col-8">
            <input id="password" type="text" formControlName="password">
          </div>
  
        </div>
  
        <div id="submit-row" class="row">
          <div class="col-4">
  
          </div>
  
          <div class="col-4">
            <i class="bi bi-patch-question"></i><a href="#" class="link-info">Forgot your Password?</a>
          </div>
         
          <div class="col-4">
            <button type="submit" id="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Login</button>
          </div>
  
        </div>
  
        <div id="signup-row" class="row">
          <div class="col-4">
  
          </div>
         
          <div class="col-8">
            <a href="#" class="link-info">Not a member? No Problem! Click here to sign up!</a>
          </div>
  
        </div>
  
  
  
      </div>
      
      
      
    
    </form>
  
  </div>


</div>


<p>Form Status: {{ profileForm.status }}</p>