.container {
    margin-right: 0;
    margin-left: 0;
}

#primary-container {
    padding-top: 20px;
    margin: 5%;
    background-color:#e1e2e3;
}

#login-container {
    background-color:#e1e2e3;
}

label .bi {
    display:block;
    font-size: 2rem;
}

label {
    margin-bottom: 1%;
    text-align: center;
}

#login-title {
    position:relative;
    top:-20px;
    left:10px;
    width:fit-content;
    background-color:#e1e2e3;
}

form {
    margin: 5%;
}

#submit-row {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1134px) {
    #email, #password {
        margin-top: 5%;
        margin-bottom:5%;
        width:100%;
    }

    label {
        width:100%;
    }

    .col-4 a {
        margin-left: 10px;
    }
    
    
    
}

@media only screen and (min-width: 1135px) {
    #email, #password, #warningEmail {
        width:430px;
    }

    label {
        width:400px;
    }

    .col-4 {
        width:303px;
    }

    .col-8 {
        width:607px;
    }

}
