.login-form {
    padding-bottom: 8%;
    padding-top: 2%;
    color: black;
  }
  
  .form-group i {
    position: absolute;
  }
  
  .input-icons {
    width: 100%;
    margin-bottom: 10px;
  }

  .bi-person-check,
  .bi-key,
  .bi-patch-question {
    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
  }

  .form-control {
    width: 100%;
    padding-left: 45px;
    padding-bottom: 10px;
    text-align: left;
  }

  .login-btn-block {
    width: 75%;
  }

  .form-border {
    border: 3px solid black;
    border-radius: 10px;
    margin: 0 17%;
    padding: 6% 10%;
    background-color: white;

    a {
      display:block;
    }
  }

  ::placeholder {
    color: black;
  }
  
  input[type="email"] {
    border: 1px solid black;
    border-radius: 15px;
    background-color: transparent;
    color: black;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    background-color: transparent;
    color: black;
  }
  
  input[type="password"] {
    border: 1px solid black;
    border-radius: 15px;
  }
  
  .bi {
    padding: 5px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
  }
 
  .login-button, a {
    margin-top:10px;
  }

  #welcome-title {
    font-size: xxx-large;
    color: #939ba2 !important;
  }

  #button-container {
    text-align: right;
  }

  #login-title {
    margin-top: -12%;
    margin-left: -20%;
  }

  @media only screen and (max-width: 575px) {
    a {
      font-size: smaller;
    }    
  }