<!-- shows content from last page passed through, does not show it if page is navigated to directly-->
<p>{{example}}</p>

<div class="wrapper">
    <ng-container #sidebarContainer class="sidebar-container"></ng-container>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>

        <div class="container border border-dark border-3" id="main-content">
            <h1 class="text-center" id="app-title">HR STRIVE</h1>
            <ng-container #componentContainer class="component-container"></ng-container>

        </div>
    </div>
</div>