<header nx-header>
    <nx-header-brand>
        <nx-link size="large">
            <a routerLink='/'>HR Strive</a>
        </nx-link>
    </nx-header-brand>
</header>
<router-outlet></router-outlet>
<footer nx-footer>
    <nx-footer-copyright>
        &copy; HR Strive {{ currentYear }}
    </nx-footer-copyright>
    <nx-footer-navigation>
        <nx-footer-link>
            <a routerLink="./">Imprint</a>
        </nx-footer-link>
        <nx-footer-link>
            <a routerLink="./">Privacy Policy</a>
        </nx-footer-link>
        <nx-footer-link>
            <a routerLink="./">Terms of Use</a>
        </nx-footer-link>
    </nx-footer-navigation>
</footer>